.navbar {
    background-color: grey;
}

.masthead {
    padding-top: 100px;
}



#questions {
    padding-top: 100px;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.mx-2 {
    color: black;
}